@model ProjectSSA.ViewModels.ReserveerTicketsVM

@{
    ViewBag.Title = "ConfirmReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bevestig je bestelling.</h2>

@using (Html.BeginForm("ConfirmReservationOK", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReserveerTicketsVM</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticketholder)
        </div>
        <div class="editor-field Grade">
            @Html.TextBoxFor(model => model.Ticketholder,new{@readonly="readonly"})
            @Html.ValidationMessageFor(model => model.Ticketholder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketholderEmail)
        </div>
        <div class="editor-field Grade">
            @Html.TextBoxFor(model => model.TicketholderEmail,new{@readonly="readonly"})
            @Html.ValidationMessageFor(model => model.TicketholderEmail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TicketName)
        </div>
        <div class="editor-field Grade">
            @Html.TextBoxFor(model => model.TicketName,new{@readonly="readonly"})
            @Html.ValidationMessageFor(model => model.TicketName)
        </div>
        <div class="editor-field Grade">
            @Html.TextBoxFor(model => model.ID, new { style = "display:none;" })
            @Html.ValidationMessageFor(model => model.ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field Grade">
            @Html.TextBoxFor(model => model.Amount,new{@readonly="readonly"})
            @Html.ValidationMessageFor(model => model.Amount)
        </div>
        <div class="BackToTickets">
    @Html.ActionLink("Terug", "Tickets")
</div>
        <p>
            <input type="submit" value="Bevestig" />
        </p>
    </fieldset>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
