@model ProjectSSA.ViewModels.FestivalVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>


<p><b>@Html.DisplayFor(model => model.Name)</b> zal dit jaar doorgaan van <b>@Html.DisplayFor(model => model.StartDate)</b> tot <b>@Html.DisplayFor(model => model.EndDate)</b> in <b>@Html.DisplayFor(model => model.Place)</b>.</p>

<div id="RSSFEED">@Html.ActionLink("Klik hier om onze RSS feeds te bekijken","RSS","api")</div>

