@model ProjectSSA.ViewModels.LineUpVM

@{
    ViewBag.Title = "LineUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LineUp</h2>



@*@foreach (var item in Model.Dates) {
    <div class="LineUpDate">
        @Html.ActionLink(@item.Date, "LineUp", new {SelectedDate = item.Date})
    </div>
}
<div style="clear:both"></div>
<table>
    @if(Model.SelectedDate != null)
    {
        <tr>
            <th>Band</th>
            <th>Podium</th>
            <th>Uur</th>
        </tr>
    foreach (var item in Model.LineUps) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Band)</td>
        <td>@Html.DisplayFor(modelItem => item.Stage)</td>
        <td>@Html.DisplayFor(modelItem => item.From) - @Html.DisplayFor(modelItem => item.Until)</td>
    </tr>
    }
}

</table>*@

@foreach (var item in Model.Dates) {
    <div class="LineUpDate">
        @Html.ActionLink(@item.Date, "LineUp", new {SelectedDate = item.Date})
    </div>
}
<div style="clear:both"></div>

    @if(Model.SelectedDate != null)
    {
    foreach (var item in Model.LineUps) {

        <div class="LineUpBlok">
            <div class="LineUpBlokLinks">
                <div class="LineUpBlokBand">@Html.DisplayFor(modelItem => item.Band)</div>
                <div class="LineUpBlokStage">@Html.DisplayFor(modelItem => item.Stage)</div>
            </div>
            <div class="LineUpBlokRechts">
                <div class="LineUpBlokUntil">@Html.DisplayFor(modelItem => item.Until)</div>
                <div class="LineUpBlokStreep">-</div>
                <div class="LineUpBlokFrom">@Html.DisplayFor(modelItem => item.From)</div>
            </div>
        </div>
    }
}



