@model ProjectSSA.ViewModels.LineUpVM

@{
    ViewBag.Title = "LineUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LineUp</h2>



@foreach (var item in Model.Dates) {
    <div class="LineUpDate">
        @Html.ActionLink(@item.Date, "LineUp", new {SelectedDate = item.Date})
    </div>
}
<div style="clear:both"></div>
<table>
    @if(Model.SelectedDate != null)
    {
        <tr>
            <th>Band</th>
            <th>Podium</th>
            <th>Uur</th>
        </tr>
    foreach (var item in Model.LineUps) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Band)</td>
        <td>@Html.DisplayFor(modelItem => item.Stage)</td>
        <td>@Html.DisplayFor(modelItem => item.From) - @Html.DisplayFor(modelItem => item.Until)</td>
    </tr>
    }
}

</table>
