@model ProjectSSA.ViewModels.OverzichtVM

@{
    ViewBag.Title = "Overzicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Overzicht verkochte tickets</h2>

<div class="OverzichtTitel"><h3>per tickettype</h3></div>

<table>
    <tr>
        <th>
            Ticket Type
        </th>
        <th>
            Prijs
        </th>
        <th>
            Resterende Tickets
        </th>
    </tr>

@foreach (var item in Model.AvailableTickets) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketName)
        </td>
        <td>
            €@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableTickets)
        </td>
    </tr>
}

</table>

<div class="OverzichtTitel"><h3>volledig</h3></div>


<table>
    <tr>
        <th>
            Naam
        </th>
        <th>
            E-mail
        </th>
        <th>
            Ticket Type
        </th>
        <th>
            Aantal
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Tickets) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ticketholder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketholderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}

</table>
