@model ProjectSSA.ViewModels.ReserveerTicketsVM

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tickets</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReserveerTicketsVM</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticketholder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticketholder)
            @Html.ValidationMessageFor(model => model.Ticketholder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketholderEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TicketholderEmail)
            @Html.ValidationMessageFor(model => model.TicketholderEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TicketType)
            @Html.ValidationMessageFor(model => model.TicketType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
