<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <link href="~/Content/SSA.css" rel="stylesheet" />

        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Festival-Organizer", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Bands", "Bands", "Home")</li>
                            <li>@Html.ActionLink("LineUp", "LineUp", "Home")</li>
                            @if(Request.IsAuthenticated)
                            {
                                <li> @Html.ActionLink("Tickets", "Tickets", "Home")</li>
                            }
                            @if (HttpContext.Current.User.IsInRole("Admin"))
                            { 
                                <li> @Html.ActionLink("Overzicht", "Overzicht", "Home")</li>
                            }
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Festival-Organizer</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
